on:
  pull_request:
    paths:
      - spec.json
      - .github/workflows/make-generate.yml
      - VERSION.txt
permissions:
  contents: write
name: make-generate
jobs:
  makegenerate:
    # Check if the PR is not from a fork
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    name: make generate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Install latest stable/nightly
        shell: bash
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | bash -s -- -y
          rustup default nightly
          rustup default stable
          rustup component add rustfmt
          rustup component add rustfmt --toolchain nightly
          rustup component add clippy
          echo PATH="${HOME}/.cargo/bin:${PATH}" >> ${GITHUB_ENV}
      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v4
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
      - uses: taiki-e/install-action@nextest
      - name: Run make generate
        run: |
          export EXPECTORATE=overwrite
          make generate
        env:
          KITTYCAD_API_TOKEN: ${{secrets.KITTYCAD_API_TOKEN}}
        shell: bash
      - name: Commit generated files
        uses: KittyCAD/gha-actions-public/pr-commit@main
        with:
          app-id: ${{ secrets.GH_ORG_APP_ID }}
          private-key: ${{ secrets.GH_ORG_APP_PRIVATE_KEY }}
          commit-message: "I have generated the latest library!"

